#editor_id{
      padding:100px 135px 0px 135px;

}
#login{

padding:0px 0px 0px 100px;
}
span{

 padding:0px 135px 0px 135px;
}
#wrapper{

background-image:url("../images/news.png");
}