body {
	margin:0;
	padding:0;
	color:#000;
	padding:20px  91px  0px  98px;
	height:500px;
     border:1px dotted #000000;
}
#main2 {
	/*float:left;*/
	width:960px;
	height:440px;
	margin-bottom:0px;
	background:url(../images/XG/main1_bg.jpg) no-repeat left top;
	/*border:1px dotted #000;*/
}
/*--XG  CSS--*/
#main2  h1 {
	width:400px;
	height:36px;
	margin:0;
	padding:0 20px;	
	overflow:hidden;
}
#main2  h1 a {
	line-height:42px;
	font-size:15px;
	color:#f60;
	text-decoration:none;
}
#main2  h1 a:hover {
	color:#03c;
	text-decoration:underline;
}
#main2  p {
	width:900px;
	margin:0 auto 8px auto;
	text-indent:2em;
	line-height:20px;
	font-size:12px;
	color:#333;
}
#main2  p a {
	color:#03c;
	text-decoration:none;
}
#main2  p a:hover {
	text-decoration:underline;
}



/*--xwzs   css--*/
#main2 ul{
	list-style:none;
	margin:0px;
	padding:5px 22px 15px 22px;
}
#main2  ul li{
	padding:2px 0px 2px 16px;
	border-bottom:1px dashed #999999;
	background:url(icon1.gif) no-repeat 5px 7px;
}
#main2  ul li a:link, #main2  ul li a:visited{
	color:#000000;
	text-decoration:none;
}
#main2  ul li a:hover{
	color:#666666;
	text-decoration:underline;
}
#footer {
	width:960px;
	height:40px;
	margin:110px auto 0 6px;
	padding:0px;
	background:url(../images/XG/footer-bg-b.png) no-repeat 0 0;
	/*border:1px dotted #000;*/

}
#footer p {
	line-height:40px;
	text-align:center;
	font-size:13px;
	color:#03c;
}
#footer p a {
	color:#03c;
	text-decoration:none;
}
#footer p a:hover {
	text-decoration:underline;
}
.more {
	margin:0px  auto;
	padding:0px auto;
	text-align: center;
	padding: 15px 0
}
.more a {
	color: #444;
	padding: 0 5px;
}
#main4 {
	
	width:960px;
	height:270px;
	margin-bottom:0px;
	background:url(../images/XG/main_bg.jpg) no-repeat left top;
	/*border:1px dotted #000;*/
}
#main4  h1 {
	width:400px;
	height:36px;
	margin:0;
	padding:0 20px;	
	overflow:hidden;
}
#main4  h1 a {
	line-height:42px;
	font-size:15px;
	color:#f60;
	text-decoration:none;
}
#main4  h1 a:hover {
	color:#03c;
	text-decoration:underline;
}
#main4  p {
	width:900px;
	margin:0 auto 8px auto;
	text-indent:2em;
	line-height:20px;
	font-size:12px;
	color:#333;
}
#main4  p a {
	color:#03c;
	text-decoration:none;
}
#main4  p a:hover {
	text-decoration:underline;
}



/*--xwzs   css--*/
#main4 ul{
	list-style:none;
	margin:0px;
	padding:5px 22px 15px 22px;
}
#main4  ul li{
	padding:2px 0px 2px 16px;
	border-bottom:1px dashed #999999;
	background:url(icon1.gif) no-repeat 5px 7px;
}
#main4  ul li a:link, #main4  ul li a:visited{
	color:#000000;
	text-decoration:none;
}
#main4  ul li a:hover{
	color:#666666;
	text-decoration:underline;
}