@charset "utf-8";
/* CSS Document */




/*em.error {
  background:url("../images/unchecked.gif") no-repeat 0px 0px;
  padding-left: 16px;
}
em.success {
  background:url("../images/checked.gif") no-repeat 0px 0px;
  padding-left: 16px;
}*/

/* .form_txt{
 font-style:normal;
   font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;	
	color: #666666;
	border:solid 1px #91b5e7;
	width:60px;
	height:20px;
 }*/
 .label_txt{
 font-style:normal;
  font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;	
	color: #ff0000;
 
 }

 #form p { height:40px; }
#form  .red{color:#ff0000;}
#form   {padding:30px   10px  9px  60px;margin:40px  auto  9px  auto;width:390px;border:solid 2px #91b5e7;height:500px;}
#form   label { width: 10px;  }
 #form   em { font-weight: bold; padding-right: 1px; vertical-align: top; }





/*.focus1{border:1px solid #efa100;}





/* formbox */

/*#formbox #login{border:dashed 2px #f1f2fe;padding:0px 20px 0px 10px;}
#formbox .item{padding:0px;margin:0px;height:45px;overflow:hidden;line-height:90%; 
         	color: #666666;border:1px;text-decoration:underline;margin: 1px;width:auto;}
#formbox .select{color: #666666;font-size:12px;font-family:Tahoma, Geneva, sans-serif;}
 #formbox .fl{float:left;height:45px;padding:0px;margin:1px;border:1px #CCFF00;width:auto;}
#formbox .label{width:100px;text-align:right;font-size:14px;float:left;height:16px;margin: 1px;}/*昵称*/
/*#formbox .text{width:160px;height:16px;padding:0;border:1px solid #bbb;font-size:14px;font-family:arial,"����";margin: 1px;}
/*#formbox label{width:80px;font-size:14px;}*/



/*#formbox .blank{width:100px;height:1px;margin: 1px;padding:0;font-size:14px;}
#formbox .hide{display:none;width:auto;margin:1px;}
#formbox .succeed{background:url(../images/passwordstrength.gif) no-repeat -105px 0;}
#formbox .clear{display:block;clear:both;height:0;overflow:hidden;width:auto;margin:5px;}
#formbox .highlight1{border:1px solid #EFA100;outline:2px solid #FFDC97;*border:2px solid #ffcc66;*padding:3px 2px;}
#formbox .highlight2{border:1px solid #f00;outline:1px solid #FFC1C1;color:#f00;}
#formbox .passwordbg{background:#FFF8EB;}

#formbox .null,#formbox .error{color:red;line-height:22px;*line-height:20px;}
#formbox .checkbox{margin-top:3px;*margin-top:2px; position: relative;
  left: -24%;
  }
 #formbox .ftx23{position: relative;
  left: 75%;top:-15px;}
#passwordstrength{color:#999;line-height:22px;padding-right:10px;}
#passwordstrength b{float:left;width:104px;height:13px;overflow:hidden;margin-top:5px;*margin-top:3px;}
.strengthA b{background:url(../images/passwordstrength.gif) no-repeat 0 0;}
.strengthB b{background:url(../images/passwordstrength.gif) no-repeat 0 -13px;}
.strengthC b{background:url(../images/passwordstrength.gif) no-repeat 0 -26px;}

/*#formbox-title{ position: relative;
  left: -20px;
  top: -20px;}
*/
/*#wrapper
{/*background-image:url("../images/Hcenter.png") ;  */
}



/*#tijiao{
 margin:10px;
  padding:0px;
}
/*label.error { float: none; color: red; padding-left:2px; vertical-align: top; }*/
/*p { clear: both; }*/




